
.starting{
  text-align: center;
}

  nav {
    display: flex;
    width: 100%;
    background: black;
    padding-bottom: 50px;
  }
  .starting input{
    width: 500px;
    height: 5vh;
    border-radius: 30px;
  }
  input[type='text']::placeholder{
    text-align: center;
  }


  
/* TO DO COLUMN */

.moving-forward{
  font-size: 1.5rem;
  padding-left: 5%;
}

.to-do-container{
 
  height: 50%;
  width: 30%;
  margin: 20px;
  position: absolute;
  padding-left: 3%;
  
  
}

.to-do-list{
  position: absolute;
  /* background-color: blue; */
  width: 100%;
  height: 90%;
  background-color: royalblue;
  
}

.tasks{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  height: 3vh;
  font-size: 1rem;
}


.to-do-input{
  /* border: 3px solid green; */
  padding-top: 298px;
  
  
  
}
.to-do-input input{
  width: 465px;
  height: 5vh;
  font-size: 1.5rem;
  border-radius: 30px;
  border: 3px solid green;
  
 
}


  
 
 
  
 

  /* SINCE CAL COLUMN */

  .calendar-container{
    display: flex;
    /* width: 50%; */
    float: right;
  }
  
  .day-since{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
    flex: 50%;
    /* background-color: blue; */
  

  }
  .day-since >h2{
    width: 70%;
    /* background-color: orange; */
    text-align: center;
  }
    

  
  .number{
    text-align: center;
    width: 300px;
    height: 300px;
    margin-left: 150px;
    border: 5px solid black;
  }
  .number >h1{
    margin-top: 130px;
  }
